html {
    background-color: #4F7942;
    color: white;
}

.container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.uk-button-default {
    color: #3D550C;
}

td {
    border: solid #3D550C;
    border-spacing: 5px 1rem;
    width: 100%;
    background-color: white;
    color: #3D550C;
    padding: 15px;
}

.user {
    border: solid #3D550C;
    border-spacing: 5px 1rem;
    padding-bottom: 0;
    height: 100%;
    clear: both;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: #4F7942;
}

#uk-navbar {
    background-color: rgb(173, 201, 165);
}

#search-options {
    margin: 20px;
}

#food-search {
    width: 40%;
}

#floating-panel {
    float: right;
    width: 40%;
    height: 200px;
    top: 10px;
    z-index: 5;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}
#food-options {
    float: left;
    width: 50%;
    padding: 20px;
    
}

#picture {
    float: left;
    width: 45%;
    height: auto;
    padding: 10px;
}

#info {
    float: right;
    width: 45%;
    padding: 10px;
}

#our-mission {
    padding: 20px;

}
.user {
    padding-bottom: 20px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    background-color: #3D550C;
    color: white;
    padding: 10px;
    clear: both;
}

